
<!--<pre>{{brList| json}}</pre>-->



<div class="col-md-12">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">List des bon de reception</h3>
      <a [routerLink]="['/BonDeReception/add']" class="btn btn-info pull-right">Ajouter</a>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">

      <table *ngIf="brList" datatable [dtOptions]="dtOptions" class="table row-border hover">
        <thead>
          <tr>

            <th>Date creation</th>
            <th>date</th>
            <th>code</th>
            <th>fournisseur</th>
            <th>total HT</th>
            <th>total TTC</th>
            <th>commentaire</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of brList" (click)="show(item.id)">
            <td>{{item.dateCreation}}</td>
            <td>{{item.dateDocument}}</td>
            <td>{{item.code}}</td>
            <td>{{item.nom}}</td>
            <td>{{item.totalHT  | number : '1.3-3'}}</td>
            <td>{{item.totalTTC  | number : '1.3-3'}}</td>
            <td>{{item.commentaire}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->

  </div>

</div>
