
<!--<pre>{{orList| json}}</pre>-->


<div class="col-md-12">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">List des Ordre de réparation</h3>
      <a [routerLink]="['/ordreDeReparation/add']" class="btn btn-info pull-right">Ajouter</a>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
      <form [formGroup]="filterForm" autocomplete="off">


        <mat-form-field appearance="outline">
          <mat-label>date debut</mat-label>
          <input type="date" matInput formControlName="dateDebut" required placeholder="date">
          <mat-error>fff</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>date fin</mat-label>
          <input type="date" matInput formControlName="dateFin" required placeholder="date">
          <mat-error>fff</mat-error>
        </mat-form-field>


      </form>
      <button mat-raised-button class="" color="primary" [disabled]="filterForm.invalid" (click)="getOrders()" type="button">
        chercher
      </button>
      <table #dataTable datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
        <thead>
          <tr>
            <th>date creation</th>
            <th>date</th>
            <th>client</th>
            <th>voiture</th>
            <th>kilometrage</th>
            <td>totalHt</td>
            <td>totalTtc</td>
            <!--<td>resteAPaye</td>-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of orList" (click)="show(item.id)">
            <td>{{item.dateCreation }}</td>
            <td>{{item.dateDocument }}</td>
            <td>{{item.client}}</td>
            <td>{{item.voiture}}</td>
            <td>{{item.kilometrage}}</td>
            <td style="text-align: right;">{{item.totalHt | number : '1.3-3'}}</td>
            <td style="text-align: right;">{{item.totalTtc | number : '1.3-3'}}</td>
            <!--<td style="text-align: right;">{{item.resteAPaye | number : '1.3-3'}}</td>-->
          </tr>
        </tbody>
      </table>

    </div>

    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->

  </div>

</div>
